header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header_logo {
  width: 5rem;
  margin-bottom: 2rem;
  display: inline-block;
  opacity: 30%;
}

/* ============ CTA ============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============ HEADER SOCIALS ============ */

.header_socials {
  scale: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
}

/* ============ ME ============ */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25.69rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 0 10rem;
  overflow: hidden;
  padding: 2rem 0;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }
}
