header {
  height: 62rem;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header_logo {
  width: 5rem;
  margin-bottom: 2rem;
  display: inline-block;
  opacity: 30%;
}

/* ============ CTA ============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============ HEADER SOCIALS ============ */

.header_socials {
  scale: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: fixed;
  z-index: 2;
  top: 26.5%;
  left: 5%;
  background: rgba(0, 0, 0, 0.3);
  padding: 1.7rem 0.2rem;
  gap: 0.8rem;
  border-radius: 0 2rem;
  backdrop-filter: blur(15px);
}

.header_socials a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 0 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

.header_socials a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* ============ ME ============ */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25.69rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 0 10rem;
  overflow: hidden;
  padding: 2rem 0;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
  header {
    height: 57rem;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
  header {
    height: 62rem;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }
}
